@import "config";

.login-wrap {
	flex-grow: 1;
	min-height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	background: rgb(0, 0, 0);
	background: radial-gradient(
		circle,
		$backgroundColor 0%,
		$monsterSecondaryColor 50%,
		$backgroundColor 100%
	);
	& > .login-form {
		& > .login-title {
			@include stroke();

			margin: 2rem;
		}
		height: 60vh;
		width: 90vw;
		text-align: center;
		margin: 0 2rem;
		color: $lightTextColor;
		& > form > input {
			@include buttonStyle();
			background-color: rgba($lightTextColor, 0.75);
		}
		& > form > .submit {
			background-color: rgba($lightTextColor, 1) !important;
		}
	}
}

::placeholder {
	color: lighten($backgroundColor, $amount: 10);
	opacity: 0.7;
}

.form-select {
	display: flex;
	justify-content: space-around;
	& > label {
		text-transform: uppercase;
		color: $lightTextColor;
		padding: 1rem 1rem 0.2rem 1rem;
		font-size: 1rem;
		font-weight: bold;
		opacity: 0.5;
	}
	& > .selected {
		opacity: 1 !important;
		border-bottom: 10px ridge $baseDamageColor;
		border-bottom-right-radius: 2rem;
	}
}

.formErrorContainer {
	justify-content: center;
	display: flex;
	flex-flow: column;
	min-height: 5rem;
}

.or {
	@include stroke();
	text-align: center;
	color: $lightTextColor;
}

.demoButton {
	width: 70vw;

	@include buttonStyle();
	background-color: rgba(255, 255, 255, 1) !important;
	box-shadow: $shadow;
}