@import "config";
$titleColor: white;
$shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

@mixin stroke {
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: black;
	font-size: 3.5rem;
	font-weight: 900;
}

@mixin buttonStyle {
	padding: 1rem;
	color: black;
	font-weight: 700;
	font-size: large;
	border: none;
}

.login-wrap {
	min-height: calc(100vh - #{$footerHeight});
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	background: rgb(0, 0, 0);
	background: radial-gradient(
		circle,
		rgba(0, 0, 0, 1) 0%,
		rgba(187, 12, 12, 0.8279569892473118) 62%,
		rgba(0, 0, 0, 1) 100%
	);
	& > .login-form {
		height: 60vh;
		width: 90vw;
		& > form > h1 {
			@include stroke();

			margin: 2rem;
		}
		text-align: center;
		margin: 0 2rem;
		color: $titleColor;
		& > form > input {
			@include buttonStyle();
			background-color: rgba(255, 255, 255, 0.75);
		}
		& > form > .submit {
			background-color: rgba(255, 255, 255, 1) !important;
		}
	}
}

::placeholder {
	color: rgb(10, 10, 48);
	opacity: 0.7;
}

.form-select {
	display: flex;
	justify-content: space-around;
	& > label {
		text-transform: uppercase;
		color: $titleColor;
		padding: 1rem 1rem 0.2rem 1rem;
		font-size: 1rem;
		font-weight: bold;
		opacity: 0.5;
	}
	& > .selected {
		opacity: 1 !important;
		border-bottom: 10px solid rgb(201, 201, 201);
		border-bottom-right-radius: 2rem;
	}
}

.formErrorContainer {
	justify-content: center;
	display: flex;
	flex-flow: column;
	min-height: 5rem;
}

.or {
	@include stroke();
	text-align: center;
	color: $titleColor;
}

.demoButton {
	width: 70vw;

	@include buttonStyle();
	background-color: rgba(255, 255, 255, 1) !important;
	box-shadow: $shadow;
}
