$loginColor: black;
.login-wrap {
	height: 100vh;
	display: flex;
	flex-flow: column;
	justify-content: center;
	background: rgb(204, 203, 8);
	background: radial-gradient(
		circle,
		rgba(204, 203, 8, 1) 0%,
		rgba(50, 28, 0, 0.9225806451612903) 65%,
		rgba(0, 0, 0, 0.9204301075268817) 100%
	);
	& > .login-form {
		background: url("../img/login.png") no-repeat center;
		-webkit-background-size: cover;
		background-size: cover;
		& > form > .login-title {
			-webkit-text-stroke-width: 3px;
			-webkit-text-stroke-color: black;
			font-size: 3.5rem;
			margin: 2rem;
		}
		text-align: center;
		margin: 0 2rem;
		color: white;
		background-color: $loginColor;
		box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
		& > form > .forgot {
			color: rgba(255, 255, 255, 0.3);
			text-decoration: none;
		}
		& > form > input {
			padding: 1rem;
			color: $loginColor;
			font-weight: 700;
			font-size: large;
			background-color: rgba(255, 255, 255, 0.75);
			border: none;
		}
	}
}

.submit {
	margin: 1rem 2rem 1rem 0rem;
	background-color: white;
	font-weight: bold;
	border: none;
	background-color: rgba(255, 255, 255, 1) !important;
}

.form-select {
	display: flex;
	justify-content: space-around;
	& > label {
		text-transform: uppercase;
		color: white;
		padding: 1rem 1rem 0.2rem 1rem;
		font-size: 1rem;
		font-weight: bold;
		opacity: 0.5;
	}
}

.selected {
	opacity: 1 !important;
	border-bottom: 10px solid rgb(201, 201, 201);
	border-bottom-right-radius: 2rem;
}

::placeholder {
	color: rgb(10, 10, 48);
	opacity: 0.7; /* Firefox */
}
