@import "config";

.infoBox {
	background-color: $backgroundColor;
	background: url("../img/infoBoxBackground.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	color: darken($accentColor, 25);
	text-align: center;
	border-radius: 16px;
	border: 3px $accentColor ridge;

	box-shadow: $shadow;

	padding: 1rem;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 10rem;
	left: 0;
	right: 0;
	z-index: 2;
	max-width: 70vw;

	& > h1 {
		margin: 0;
	}
	& > div {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		& > img {
			margin-left: 4rem;
			width: 80px;
			height: 80px;
		}
		& > button {
			@include button(0.5rem, 1rem);
		}
	}
}
