@import "config";

.inventory {
	background-color: $backgroundColor;
	background: url("../img/inventoryBackground.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	& > ul {
		padding: 0.3rem 0;
		margin: 0;

		display: flex;
		flex-flow: wrap;
		justify-content: center;
		& > .itemEntry {
			background-color: $backgroundColor;
			background: url("../img/inventorySlot.png") no-repeat center;
			border: $backgroundColor 3px solid;

			margin: 0.1rem;
			width: $itemBoxSize;
			height: $itemBoxSize;

			list-style-type: none;
			&:hover {
				border: $accentColor 3px solid;
			}
			& > span {
				& > button {
					background: url("../img/inventorySlot.png") no-repeat center;
					border: none;
					padding: 0;
					width: $itemBoxSize;
					height: $itemBoxSize;
					& > img {
						width: $itemBoxSize;
						height: $itemBoxSize;

						&:hover {
							filter: $onHoverSaturate;
						}
					}
				}
				& > .delete {
					display: flex;
					justify-content: flex-end;
					& > button {
						height: 1.5rem;
						width: 1.5rem;
						border-radius: 50%;
						position: absolute;
						background-color: $backgroundColor;
						color: $monsterPrimaryColor;
						z-index: 1;
					}
				}
			}
		}
	}
}
