.inventory {
	background-color: slategrey;
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	& > span {
		margin: 0.5rem;
		width: 80px;
		height: 80px;
		background-color: saddlebrown;
		border: black 3px solid;
		&:hover {
			border: yellow 3px solid;
		}
		& > span > button {
			border: none;
			padding: 0;
			width: 80px;
			height: 80px;
		}
		& > span > button > img {
			width: 80px;
			height: 80px;

			&:hover {
				opacity: 50%;
			}
		}
	}
}
