//Item

.item-container {
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	background: url("../img/inventoryBackground.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	& > .item-img > img {
		width: 10rem;
	}
	& > .item-text {
		color: rgb(165, 163, 163);
		height: 298px;
		width: 252px;
		padding: 2rem 2rem;
		background: url("../img/statsTable.png");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		text-align: center;
		overflow-wrap: break-word;
		overflow: hidden;
		display: flex;
		flex-flow: column;
		justify-content: space-around;
		& > h1 {
			margin: 0;
			color: gold;
			background-color: transparent;
		}
		& > ul {
			padding: 0;
			margin: 0;
			list-style-type: none;
			text-align: left;
			& > li {
				text-align: center;
			}
		}
		& > h4 {
			font-size: larger;
			color: white;
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: black;
		}
	}
}

.Fire {
	color: rgb(250, 71, 0);
}
.Wind {
	color: rgb(95, 183, 241);
}
.Earth {
	color: rgb(54, 177, 29);
}

.Lightning {
	color: yellow;
}
