@import "config";

nav,
footer {
	border: thick double $accentColor;

	height: $footerHeight;
	box-sizing: border-box;
	& > ul {
		background-color: $accentColor;
		list-style-type: none;

		padding: 0;
		margin: 0;
		height: 100%;

		display: flex;
		justify-content: space-around;
		& > li {
			display: flex;
			align-items: center;
		}
		& > li > a {
			text-decoration: none;
			color: $backgroundColor;
			font-size: x-large;
			&:hover {
				border-bottom: solid;
			}
		}
	}
}
