@import "config";

.transfer-container {
	background: rgb(255, 255, 255);
	background: radial-gradient(
		circle,
		$lightTextColor 0%,
		$accentColor 35%,
		$backgroundColor 90%
	);

	display: flex;
	flex-flow: wrap;
	justify-content: center;
	.transfer {
		display: flex;
		flex-flow: wrap;
		justify-content: center;
		& > span {
			background-color: $backgroundColor;
			border: $backgroundColor 3px solid;

			margin: 0.5rem;
			width: calc(#{$itemBoxSize} / 100 * 28 + #{$itemBoxSize});
			height: calc(#{$itemBoxSize} / 100 * 28 + #{$itemBoxSize});
			&:hover {
				border: $accentColor 3px solid;
			}
			& > button {
				padding: 0;
				background: url("../img/inventorySlot.png");
				background-position: center;
				background-size: cover;
				border: none;

				width: calc(#{$itemBoxSize} / 100 * 28 + #{$itemBoxSize});
				height: calc(#{$itemBoxSize} / 100 * 28 + #{$itemBoxSize});
			}
			& > button > img {
				width: calc(#{$itemBoxSize} / 100 * 28 + #{$itemBoxSize});
				height: calc(#{$itemBoxSize} / 100 * 28 + #{$itemBoxSize});

				&:hover {
					filter: $onHoverSaturate;
				}
			}
		}
	}
	& > form > button {
		@include button(1rem, 3rem);
		margin: 1rem;
	}
}

.disabled {
	text-decoration: line-through;
	opacity: 70%;
}

hr {
	margin: 0;
	border: 1rem double lighten($backgroundColor, 7);
}
