.transfer-container {
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	background: rgb(255, 255, 255);
	background: radial-gradient(
		circle,
		rgba(255, 255, 255, 1) 0%,
		rgba(204, 203, 8, 0.7995226730310263) 37%,
		rgba(0, 0, 0, 0.7374701670644391) 90%,
		rgba(0, 0, 0, 1) 100%
	);
	.transfer {
		background-color: transparent;
		display: flex;
		flex-flow: wrap;
		justify-content: center;
		& > span {
			margin: 0.5rem;
			width: 100px;
			height: 100px;
			background-color: rgb(54, 53, 53);
			border: black 3px solid;
			&:hover {
				border: yellow 3px solid;
			}
			& > button {
				padding: 0;
				background: url("../img/inventorySlot.png");
				background-position: center;
				background-size: cover;
				border: none;
				width: 100px;
				height: 100px;
			}
			& > button > img {
				width: 100px;
				height: 100px;
				&:hover {
					opacity: 50%;
				}
			}
		}
	}
	& > form > button {
		font-weight: bold;
		font-size: 3rem;
		border: 3px gold solid;
		border-radius: 16px;
		padding: 1rem;
		margin: 1rem;
	}
}

.disabled {
	text-decoration: line-through;
	background-color: grey;
	opacity: 50%;
}

hr {
	margin: 0;
	border: 1rem double rgb(17, 16, 16);
}
