.transfer-container {
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	.transfer {
		background-color: slategrey;
		display: flex;
		flex-flow: wrap;
		justify-content: center;
		& > span {
			margin: 0.5rem;
			width: 100px;
			height: 100px;
			background-color: rgb(54, 53, 53);
			border: black 3px solid;
			&:hover {
				border: yellow 3px solid;
			}
			& > span > button {
				border: none;
				padding: 0;
				width: 100px;
				height: 100px;
			}
			& > span > button > img {
				width: 100px;
				height: 100px;

				&:hover {
					opacity: 50%;
				}
			}
		}
	}
	& > form > button {
		font-weight: bold;
		font-size: 3rem;
		border: 3px gold dotted;
		border-radius: 16px;
		padding: 1rem;
		color: black;
	}
}

.disabled {
	text-decoration: line-through;
	background-color: grey;
	opacity: 50%;
}
