@media screen and (max-width: 929px) {
  .infoBox {
    width: 30rem;
    font-size: 2rem; }
  .inventory {
    display: flex;
    justify-content: center; }
    .inventory > ul {
      width: 35rem; }
  .form-select > label {
    font-size: 2rem; } }

@media screen and (min-width: 930px) and (max-width: 1170px) {
  .infoBox {
    width: 30rem;
    font-size: 2rem; }
  .inventory {
    display: flex;
    justify-content: center; }
    .inventory > ul {
      width: 35rem; }
  .item-container {
    justify-content: center !important; }
    .item-container > .item-img {
      margin: 0rem 5rem; }
  .form-select > label {
    font-size: 3rem; } }

@media screen and (min-width: 1171px) {
  .infoBox {
    width: 30rem;
    font-size: 2rem; }
  .inventory {
    display: flex;
    justify-content: center; }
    .inventory > ul {
      width: 35rem; }
  .item-container {
    justify-content: center !important; }
    .item-container > .item-img {
      margin: 0rem 5rem; }
  .form-select > label {
    font-size: 3rem; } }

@media screen and (max-height: 700px) {
  .login-form {
    height: unset !important; }
  .or {
    margin: 0; }
  .login-title {
    margin: 0 !important; } }

nav,
footer {
  border: thick double gold;
  height: 80px;
  box-sizing: border-box; }
  nav > ul,
  footer > ul {
    background-color: gold;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: space-around; }
    nav > ul > li,
    footer > ul > li {
      display: flex;
      align-items: center; }
    nav > ul > li > a,
    footer > ul > li > a {
      text-decoration: none;
      color: black;
      font-size: x-large; }
      nav > ul > li > a:hover,
      footer > ul > li > a:hover {
        border-bottom: solid; }

@media screen and (max-width: 929px) {
  .infoBox {
    width: 30rem;
    font-size: 2rem; }
  .inventory {
    display: flex;
    justify-content: center; }
    .inventory > ul {
      width: 35rem; }
  .form-select > label {
    font-size: 2rem; } }

@media screen and (min-width: 930px) and (max-width: 1170px) {
  .infoBox {
    width: 30rem;
    font-size: 2rem; }
  .inventory {
    display: flex;
    justify-content: center; }
    .inventory > ul {
      width: 35rem; }
  .item-container {
    justify-content: center !important; }
    .item-container > .item-img {
      margin: 0rem 5rem; }
  .form-select > label {
    font-size: 3rem; } }

@media screen and (min-width: 1171px) {
  .infoBox {
    width: 30rem;
    font-size: 2rem; }
  .inventory {
    display: flex;
    justify-content: center; }
    .inventory > ul {
      width: 35rem; }
  .item-container {
    justify-content: center !important; }
    .item-container > .item-img {
      margin: 0rem 5rem; }
  .form-select > label {
    font-size: 3rem; } }

@media screen and (max-height: 700px) {
  .login-form {
    height: unset !important; }
  .or {
    margin: 0; }
  .login-title {
    margin: 0 !important; } }

.login-wrap {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: black;
  background: radial-gradient(circle, black 0%, #8b0000 50%, black 100%); }
  .login-wrap > .login-form {
    height: 60vh;
    width: 90vw;
    text-align: center;
    margin: 0 2rem;
    color: white; }
    .login-wrap > .login-form > .login-title {
      -webkit-text-stroke-width: 3px;
      -webkit-text-stroke-color: black;
      font-size: 3.5rem;
      font-weight: 900;
      margin: 2rem; }
    .login-wrap > .login-form > form > input {
      padding: 1rem;
      color: black;
      font-weight: 700;
      font-size: large;
      border: none;
      background-color: rgba(255, 255, 255, 0.75); }
    .login-wrap > .login-form > form > .submit {
      background-color: white !important; }

::placeholder {
  color: #1a1a1a;
  opacity: 0.7; }

.form-select {
  display: flex;
  justify-content: space-around; }
  .form-select > label {
    text-transform: uppercase;
    color: white;
    padding: 1rem 1rem 0.2rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    opacity: 0.5; }
  .form-select > .selected {
    opacity: 1 !important;
    border-bottom: 10px ridge #a5a3a3;
    border-bottom-right-radius: 2rem; }

.formErrorContainer {
  justify-content: center;
  display: flex;
  flex-flow: column;
  min-height: 5rem; }

.or {
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  font-size: 3.5rem;
  font-weight: 900;
  text-align: center;
  color: white; }

.demoButton {
  width: 70vw;
  padding: 1rem;
  color: black;
  font-weight: 700;
  font-size: large;
  border: none;
  background-color: white !important;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }

@media screen and (max-width: 929px) {
  .infoBox {
    width: 30rem;
    font-size: 2rem; }
  .inventory {
    display: flex;
    justify-content: center; }
    .inventory > ul {
      width: 35rem; }
  .form-select > label {
    font-size: 2rem; } }

@media screen and (min-width: 930px) and (max-width: 1170px) {
  .infoBox {
    width: 30rem;
    font-size: 2rem; }
  .inventory {
    display: flex;
    justify-content: center; }
    .inventory > ul {
      width: 35rem; }
  .item-container {
    justify-content: center !important; }
    .item-container > .item-img {
      margin: 0rem 5rem; }
  .form-select > label {
    font-size: 3rem; } }

@media screen and (min-width: 1171px) {
  .infoBox {
    width: 30rem;
    font-size: 2rem; }
  .inventory {
    display: flex;
    justify-content: center; }
    .inventory > ul {
      width: 35rem; }
  .item-container {
    justify-content: center !important; }
    .item-container > .item-img {
      margin: 0rem 5rem; }
  .form-select > label {
    font-size: 3rem; } }

@media screen and (max-height: 700px) {
  .login-form {
    height: unset !important; }
  .or {
    margin: 0; }
  .login-title {
    margin: 0 !important; } }

.item-container {
  background: url("../img/inventoryBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center; }
  .item-container > .item-img > img {
    width: 5rem;
    max-height: 20rem; }
  .item-container > .item-text {
    background: url("../img/statsTable.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    color: #a5a3a3;
    height: 298px;
    width: 252px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    overflow-wrap: break-word;
    overflow: hidden;
    text-align: center; }
    .item-container > .item-text > h1 {
      max-width: 13rem;
      line-height: 2rem;
      color: gold; }
    .item-container > .item-text > ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      text-align: left; }
      .item-container > .item-text > ul > li {
        line-height: 1.2rem;
        font-size: 0.9rem;
        text-align: center; }
    .item-container > .item-text > h4 {
      font-size: large;
      color: white;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: gold; }

.Fire {
  color: #fa4700; }

.Wind {
  color: #5fb7f1; }

.Earth {
  color: #36b11d; }

.Lightning {
  color: yellow; }

@media screen and (max-width: 929px) {
  .infoBox {
    width: 30rem;
    font-size: 2rem; }
  .inventory {
    display: flex;
    justify-content: center; }
    .inventory > ul {
      width: 35rem; }
  .form-select > label {
    font-size: 2rem; } }

@media screen and (min-width: 930px) and (max-width: 1170px) {
  .infoBox {
    width: 30rem;
    font-size: 2rem; }
  .inventory {
    display: flex;
    justify-content: center; }
    .inventory > ul {
      width: 35rem; }
  .item-container {
    justify-content: center !important; }
    .item-container > .item-img {
      margin: 0rem 5rem; }
  .form-select > label {
    font-size: 3rem; } }

@media screen and (min-width: 1171px) {
  .infoBox {
    width: 30rem;
    font-size: 2rem; }
  .inventory {
    display: flex;
    justify-content: center; }
    .inventory > ul {
      width: 35rem; }
  .item-container {
    justify-content: center !important; }
    .item-container > .item-img {
      margin: 0rem 5rem; }
  .form-select > label {
    font-size: 3rem; } }

@media screen and (max-height: 700px) {
  .login-form {
    height: unset !important; }
  .or {
    margin: 0; }
  .login-title {
    margin: 0 !important; } }

.inventory {
  background-color: black;
  background: url("../img/inventoryBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  .inventory > ul {
    padding: 0.3rem 0;
    margin: 0;
    display: flex;
    flex-flow: wrap;
    justify-content: center; }
    .inventory > ul > .itemEntry {
      background-color: black;
      background: url("../img/inventorySlot.png") no-repeat center;
      border: black 3px solid;
      margin: 0.1rem;
      width: 80px;
      height: 80px;
      list-style-type: none; }
      .inventory > ul > .itemEntry:hover {
        border: gold 3px solid; }
      .inventory > ul > .itemEntry > span > button {
        background: url("../img/inventorySlot.png") no-repeat center;
        border: none;
        padding: 0;
        width: 80px;
        height: 80px; }
        .inventory > ul > .itemEntry > span > button > img {
          width: 80px;
          height: 80px; }
          .inventory > ul > .itemEntry > span > button > img:hover {
            filter: saturate(3); }
      .inventory > ul > .itemEntry > span > .delete {
        display: flex;
        justify-content: flex-end; }
        .inventory > ul > .itemEntry > span > .delete > button {
          height: 1.5rem;
          width: 1.5rem;
          border-radius: 50%;
          position: absolute;
          background-color: black;
          color: red;
          z-index: 1; }

@media screen and (max-width: 929px) {
  .infoBox {
    width: 30rem;
    font-size: 2rem; }
  .inventory {
    display: flex;
    justify-content: center; }
    .inventory > ul {
      width: 35rem; }
  .form-select > label {
    font-size: 2rem; } }

@media screen and (min-width: 930px) and (max-width: 1170px) {
  .infoBox {
    width: 30rem;
    font-size: 2rem; }
  .inventory {
    display: flex;
    justify-content: center; }
    .inventory > ul {
      width: 35rem; }
  .item-container {
    justify-content: center !important; }
    .item-container > .item-img {
      margin: 0rem 5rem; }
  .form-select > label {
    font-size: 3rem; } }

@media screen and (min-width: 1171px) {
  .infoBox {
    width: 30rem;
    font-size: 2rem; }
  .inventory {
    display: flex;
    justify-content: center; }
    .inventory > ul {
      width: 35rem; }
  .item-container {
    justify-content: center !important; }
    .item-container > .item-img {
      margin: 0rem 5rem; }
  .form-select > label {
    font-size: 3rem; } }

@media screen and (max-height: 700px) {
  .login-form {
    height: unset !important; }
  .or {
    margin: 0; }
  .login-title {
    margin: 0 !important; } }

.transfer-container {
  background: white;
  background: radial-gradient(circle, white 0%, gold 35%, black 90%);
  display: flex;
  flex-flow: wrap;
  justify-content: center; }
  .transfer-container .transfer {
    display: flex;
    flex-flow: wrap;
    justify-content: center; }
    .transfer-container .transfer > span {
      background-color: black;
      border: black 3px solid;
      margin: 0.5rem;
      width: calc(80px / 100 * 28 + 80px);
      height: calc(80px / 100 * 28 + 80px); }
      .transfer-container .transfer > span:hover {
        border: gold 3px solid; }
      .transfer-container .transfer > span > button {
        padding: 0;
        background: url("../img/inventorySlot.png");
        background-position: center;
        background-size: cover;
        border: none;
        width: calc(80px / 100 * 28 + 80px);
        height: calc(80px / 100 * 28 + 80px); }
      .transfer-container .transfer > span > button > img {
        width: calc(80px / 100 * 28 + 80px);
        height: calc(80px / 100 * 28 + 80px); }
        .transfer-container .transfer > span > button > img:hover {
          filter: saturate(3); }
  .transfer-container > form > button {
    color: white;
    background-color: #5a0000;
    border-radius: 16px;
    border: 3px gold ridge;
    padding: 1rem;
    font-size: 3rem;
    margin: 1rem; }

.disabled {
  text-decoration: line-through;
  opacity: 70%; }

hr {
  margin: 0;
  border: 1rem double #121212; }

.monster {
  user-select: none;
  display: flex;
  flex-flow: column;
  align-items: center; }
  .monster > .idle {
    animation: bounce 0.2s infinite alternate;
    -webkit-animation: bounce 0.2s infinite alternate; }
  .monster > .hitRight {
    opacity: 0.5;
    animation: hitRight 1s alternate;
    -webkit-animation: hitRight 1s alternate; }
  .monster > .hitLeft {
    opacity: 0.5;
    animation: hitLeft 1s alternate;
    -webkit-animation: hitLeft 1s alternate; }
  .monster > .hitUp {
    opacity: 0.5;
    animation: hitUp 1s alternate;
    -webkit-animation: hitUp 1s alternate; }
  .monster > .healthContainer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 50vmin; }
    .monster > .healthContainer > .maxHealth {
      width: 100%;
      height: 50vmin;
      background-color: #8b0000;
      border: 5px inset #8b0000;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .monster > .healthContainer > .maxHealth > .currentHealth {
        height: 50vmin;
        width: 100%;
        background-color: red;
        border-radius: 50%; }

.attackButton {
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  cursor: pointer;
  position: absolute;
  height: 50vmin;
  width: 50vmin;
  border-radius: 50%;
  background-color: transparent;
  border: none; }

.encounterContainer {
  display: flex;
  justify-content: center; }
  .encounterContainer .restart {
    color: white;
    background-color: #5a0000;
    border-radius: 16px;
    border: 3px gold ridge;
    padding: 2rem;
    font-size: 5rem; }

.damage {
  pointer-events: none;
  font-size: xx-large;
  position: relative;
  top: 15rem;
  font-weight: 900;
  z-index: 1;
  color: red;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black; }

.damageHidden {
  opacity: 0; }

.damageAnimation {
  opacity: 1; }

@media screen and (max-width: 929px) {
  .infoBox {
    width: 30rem;
    font-size: 2rem; }
  .inventory {
    display: flex;
    justify-content: center; }
    .inventory > ul {
      width: 35rem; }
  .form-select > label {
    font-size: 2rem; } }

@media screen and (min-width: 930px) and (max-width: 1170px) {
  .infoBox {
    width: 30rem;
    font-size: 2rem; }
  .inventory {
    display: flex;
    justify-content: center; }
    .inventory > ul {
      width: 35rem; }
  .item-container {
    justify-content: center !important; }
    .item-container > .item-img {
      margin: 0rem 5rem; }
  .form-select > label {
    font-size: 3rem; } }

@media screen and (min-width: 1171px) {
  .infoBox {
    width: 30rem;
    font-size: 2rem; }
  .inventory {
    display: flex;
    justify-content: center; }
    .inventory > ul {
      width: 35rem; }
  .item-container {
    justify-content: center !important; }
    .item-container > .item-img {
      margin: 0rem 5rem; }
  .form-select > label {
    font-size: 3rem; } }

@media screen and (max-height: 700px) {
  .login-form {
    height: unset !important; }
  .or {
    margin: 0; }
  .login-title {
    margin: 0 !important; } }

@keyframes hitLeft {
  0% {
    transform: translate3d(0px, 0px, 0px); }
  10% {
    transform: translate3d(300px, -300px, 0px);
    transform: skewY(35deg); }
  30% {
    transform: translate3d(-300px, 300px, 0px); }
  100% {
    transform: translate3d(0px, 0px, 0px); } }

@keyframes hitRight {
  0% {
    transform: translate3d(0px, 0px, 0px); }
  10% {
    transform: translate3d(-300px, -300px, 0px);
    transform: skewY(200deg); }
  30% {
    transform: translate3d(300px, 300px, 0px); }
  100% {
    transform: translate3d(0px, 0px, 0px); } }

@keyframes hitUp {
  0% {
    transform: translate3d(0px, 0px, 0px); }
  10% {
    transform: skewX(60deg); }
  30% {
    transform: translate3d(0px, -300px, 0px); }
  100% {
    transform: translate3d(0px, 0px, 0px); } }

@keyframes bounce {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-3rem); } }

@keyframes grow {
  0% {
    width: 7rem;
    height: 7rem;
    transform: rotate(30deg); }
  50% {
    width: 3.5rem;
    height: 3.5rem;
    transform: rotate(70deg); }
  100% {
    width: 7rem;
    height: 7rem;
    transform: rotate(30deg); } }

@media screen and (max-width: 929px) {
  .infoBox {
    width: 30rem;
    font-size: 2rem; }
  .inventory {
    display: flex;
    justify-content: center; }
    .inventory > ul {
      width: 35rem; }
  .form-select > label {
    font-size: 2rem; } }

@media screen and (min-width: 930px) and (max-width: 1170px) {
  .infoBox {
    width: 30rem;
    font-size: 2rem; }
  .inventory {
    display: flex;
    justify-content: center; }
    .inventory > ul {
      width: 35rem; }
  .item-container {
    justify-content: center !important; }
    .item-container > .item-img {
      margin: 0rem 5rem; }
  .form-select > label {
    font-size: 3rem; } }

@media screen and (min-width: 1171px) {
  .infoBox {
    width: 30rem;
    font-size: 2rem; }
  .inventory {
    display: flex;
    justify-content: center; }
    .inventory > ul {
      width: 35rem; }
  .item-container {
    justify-content: center !important; }
    .item-container > .item-img {
      margin: 0rem 5rem; }
  .form-select > label {
    font-size: 3rem; } }

@media screen and (max-height: 700px) {
  .login-form {
    height: unset !important; }
  .or {
    margin: 0; }
  .login-title {
    margin: 0 !important; } }

.infoBox {
  background-color: black;
  background: url("../img/infoBoxBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #806c00;
  text-align: center;
  border-radius: 16px;
  border: 3px gold ridge;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 10rem;
  left: 0;
  right: 0;
  z-index: 2;
  max-width: 70vw; }
  .infoBox > h1 {
    margin: 0; }
  .infoBox > div {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    .infoBox > div > img {
      margin-left: 4rem;
      width: 80px;
      height: 80px; }
    .infoBox > div > button {
      color: white;
      background-color: #5a0000;
      border-radius: 16px;
      border: 3px gold ridge;
      padding: 0.5rem;
      font-size: 1rem; }

@media screen and (max-width: 929px) {
  .infoBox {
    width: 30rem;
    font-size: 2rem; }
  .inventory {
    display: flex;
    justify-content: center; }
    .inventory > ul {
      width: 35rem; }
  .form-select > label {
    font-size: 2rem; } }

@media screen and (min-width: 930px) and (max-width: 1170px) {
  .infoBox {
    width: 30rem;
    font-size: 2rem; }
  .inventory {
    display: flex;
    justify-content: center; }
    .inventory > ul {
      width: 35rem; }
  .item-container {
    justify-content: center !important; }
    .item-container > .item-img {
      margin: 0rem 5rem; }
  .form-select > label {
    font-size: 3rem; } }

@media screen and (min-width: 1171px) {
  .infoBox {
    width: 30rem;
    font-size: 2rem; }
  .inventory {
    display: flex;
    justify-content: center; }
    .inventory > ul {
      width: 35rem; }
  .item-container {
    justify-content: center !important; }
    .item-container > .item-img {
      margin: 0rem 5rem; }
  .form-select > label {
    font-size: 3rem; } }

@media screen and (max-height: 700px) {
  .login-form {
    height: unset !important; }
  .or {
    margin: 0; }
  .login-title {
    margin: 0 !important; } }

@keyframes hitLeft {
  0% {
    transform: translate3d(0px, 0px, 0px); }
  10% {
    transform: translate3d(300px, -300px, 0px);
    transform: skewY(35deg); }
  30% {
    transform: translate3d(-300px, 300px, 0px); }
  100% {
    transform: translate3d(0px, 0px, 0px); } }

@keyframes hitRight {
  0% {
    transform: translate3d(0px, 0px, 0px); }
  10% {
    transform: translate3d(-300px, -300px, 0px);
    transform: skewY(200deg); }
  30% {
    transform: translate3d(300px, 300px, 0px); }
  100% {
    transform: translate3d(0px, 0px, 0px); } }

@keyframes hitUp {
  0% {
    transform: translate3d(0px, 0px, 0px); }
  10% {
    transform: skewX(60deg); }
  30% {
    transform: translate3d(0px, -300px, 0px); }
  100% {
    transform: translate3d(0px, 0px, 0px); } }

@keyframes bounce {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-3rem); } }

@keyframes grow {
  0% {
    width: 7rem;
    height: 7rem;
    transform: rotate(30deg); }
  50% {
    width: 3.5rem;
    height: 3.5rem;
    transform: rotate(70deg); }
  100% {
    width: 7rem;
    height: 7rem;
    transform: rotate(30deg); } }

@media screen and (max-width: 929px) {
  .infoBox {
    width: 30rem;
    font-size: 2rem; }
  .inventory {
    display: flex;
    justify-content: center; }
    .inventory > ul {
      width: 35rem; }
  .form-select > label {
    font-size: 2rem; } }

@media screen and (min-width: 930px) and (max-width: 1170px) {
  .infoBox {
    width: 30rem;
    font-size: 2rem; }
  .inventory {
    display: flex;
    justify-content: center; }
    .inventory > ul {
      width: 35rem; }
  .item-container {
    justify-content: center !important; }
    .item-container > .item-img {
      margin: 0rem 5rem; }
  .form-select > label {
    font-size: 3rem; } }

@media screen and (min-width: 1171px) {
  .infoBox {
    width: 30rem;
    font-size: 2rem; }
  .inventory {
    display: flex;
    justify-content: center; }
    .inventory > ul {
      width: 35rem; }
  .item-container {
    justify-content: center !important; }
    .item-container > .item-img {
      margin: 0rem 5rem; }
  .form-select > label {
    font-size: 3rem; } }

@media screen and (max-height: 700px) {
  .login-form {
    height: unset !important; }
  .or {
    margin: 0; }
  .login-title {
    margin: 0 !important; } }

.spinnerContainer {
  min-width: 12rem;
  min-height: 12rem;
  align-self: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }
  .spinnerContainer .spinner {
    background-color: red;
    border: 16px solid red;
    border: 5px inset #8b0000;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    animation: grow 2s ease-in infinite; }

@media screen and (max-width: 929px) {
  .infoBox {
    width: 30rem;
    font-size: 2rem; }
  .inventory {
    display: flex;
    justify-content: center; }
    .inventory > ul {
      width: 35rem; }
  .form-select > label {
    font-size: 2rem; } }

@media screen and (min-width: 930px) and (max-width: 1170px) {
  .infoBox {
    width: 30rem;
    font-size: 2rem; }
  .inventory {
    display: flex;
    justify-content: center; }
    .inventory > ul {
      width: 35rem; }
  .item-container {
    justify-content: center !important; }
    .item-container > .item-img {
      margin: 0rem 5rem; }
  .form-select > label {
    font-size: 3rem; } }

@media screen and (min-width: 1171px) {
  .infoBox {
    width: 30rem;
    font-size: 2rem; }
  .inventory {
    display: flex;
    justify-content: center; }
    .inventory > ul {
      width: 35rem; }
  .item-container {
    justify-content: center !important; }
    .item-container > .item-img {
      margin: 0rem 5rem; }
  .form-select > label {
    font-size: 3rem; } }

@media screen and (max-height: 700px) {
  .login-form {
    height: unset !important; }
  .or {
    margin: 0; }
  .login-title {
    margin: 0 !important; } }

.notFoundContainer {
  display: flex;
  justify-content: center;
  flex-flow: column;
  width: 100%;
  min-height: calc(100vh - 80px);
  color: white;
  align-self: center; }
  .notFoundContainer > .notFound {
    align-self: center; }
  .notFoundContainer > span {
    align-self: center;
    background-color: white;
    height: 3rem;
    width: 10rem; }
    .notFoundContainer > span > .startLink {
      color: black;
      font-weight: 700;
      font-size: large;
      text-decoration: none; }
      .notFoundContainer > span > .startLink > div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%; }

body {
  color: white;
  background-color: black;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

.page {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between; }
